<a href="https://colab.research.google.com/github/Pawan-kumar-Singh/Hotel_Booking-_Analysis/blob/main/Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

## Hotel Booking Analysis

### * Collection and Understanding of data*

Steps we are going to take to collect and understand this data set

1 Import important libraries.

2 Mount the google drive.

3 Exploration namely: head, tail, summary, data dictionary.

4 Find all the data description and information

5 Find null and duplicated values.

6 Explore all columns one by one and then find its meaning

In [1]:
#Importing the important library for EDA
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#importing the hotel booking data set using pandas read_csv function
df = pd.read_csv('/content/drive/MyDrive/Hotel Booking Analysis/Hotel Bookings.csv')

In [4]:
# shape function return the total numbers of row and coloumns present in the data set
df.shape

(119390, 32)

So there is total 119390 rows and 32 columns

In [5]:
#lets check the numeric columns and categorical columns
numeric = ['int16','int32','int64','float16','float32','float64']
numeric_data = df.select_dtypes(include = numeric)
len(numeric_data.columns)

20

Now we know that in our data 20 columns are numeric

In [6]:
# Head function return the top 5 raw (records) of the data set
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
# tail function return below 5 records of data set
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [8]:
# info function give us brief information about the columns name its datatype and present of null values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [9]:
# describe function give information about quantative data about its mean, standard deviation, total number of counts, data withs its percentile values
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [10]:
# nunique function return total number of unique values in columns
df.nunique()

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             5
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              333
company                            352
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

In [11]:
# finding the duplicate values
df.duplicated().value_counts()

False    87396
True     31994
dtype: int64

Here we cans see in our data we have 31994 duplicate values(true means duplicated valuse)

In [12]:
#hotel column contain two types of unique values Resort Hotel and City Hotel
df['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [13]:
# Combination of isnull function with sum function return the sum of count of null values in each columns
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [14]:
# Here we are checking the percentage of null values in columns
df.isna().sum().sort_values(ascending = False)/len(df)*100

company                           94.306893
agent                             13.686238
country                            0.408744
children                           0.003350
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
hotel                              0.000000
previous_cancellations             0.000000
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
previous_bookings_not_canceled     0.000000
is_repeated_guest                  0.000000
is_canceled                        0.000000
distribution_channel               0.000000
market_segment                     0.000000
meal                               0.000000
babies                             0.000000
adults                             0.000000
stays_in_week_nights               0.000000
stays_in_weekend_nights            0.000000
arrival_date_day_of_month          0.000000
arrival_date_week_number           0.000000
arrival_date_month                 0.000000
arrival_date_year                  0.000000
lead_time                          0.000000
reservation_status_date            0.000000
dtype: float64

Here we can see that comapny cloumns contains 94% of null values and agent columns contains 13% of null values

Country columns has 0.405 of missing values and children columns has 0.003% of missing valuse

In [15]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

hotel : The category of hotel, which are two resort hotel and city hotel.

is_cancelled : The valuen of column show the cancellation type. If the booking was cancelled or not values will 0 and 1. where 0 indicate not cancelled.

lead_time : The time between reservation and actual arrival.

arrival_date_year : Year of arrival date.

arrival_date_month : Month of arrival date

arrival_date_week_number : Week number of year for arrival date

arrival_date_day_of_month : Day of arrival date.

stayed_in_weekend_nights : The number of weekend night stay per reservation.

stayed_in_weekday_nights : The number of weekday night stay per reservation

adult : Number of adult.

children : Number of children.

babies : Number of babies.

meal : Meal preferences per reservation. [BB, FB, HB, SC, Undefine]

country : The origin country of guest.

market_segment :  The columns show reservation was made and what is the purpose of reservation e.g corporate means corporate trip, TA for travel agency.

distribution_channel : The medium through booking was made. [Direct, Corporate, TA/TO, Undefine, GDS]

is_repeated_guest : show if the guest is who has arrived earlier or not. values[0,1]. where 0 indicate no and 1 indicate yes person is repeated guest.

previous_cancellations : Number of previous booking that were cancelled by the customers prior to the cutomer current booking.

previous_booking_not_canceled : Number of previous booking not cancelled by the customer proir to the current booking.

reserved_room_type: Code of room type reserved.

assigned_room_type : Code for the type of room assigned to the booking was wntered on PMS until the moment of check_in or cancellation.

booking_changes : Number of changes made to the booking .

deposite_type : No Deposite, Non Refund, Refundable.

agent :  ID of thettravel agency that made the bookings.

company : ID of the companythat make the booking.

days_in_waiting_list : Number of days bwtween actual booking and transact.

customer_type : Type of customer. Contract , Group, trnsiet, Transient party.

adr : Average Daily Rate as define by dividing the sum of all lodging transactin by the total nnumber of staing nights.

required_car_parking_spaces : number of car parking by the customers.

total_of_special_requests : Number of special requests made by the customers example twin bed or high floor

reservation_status : Reservation last status.

### Data Prepration and Cleaning

Data cleaning is the process of fixing or removing incorrect, corrupted, incorrectly formatted, duplicate, or incomplete data within a dataset. When combining multiple data sources, there are many opportunities for data to be duplicated or mislabeled.

Step 1: Remove duplicate or irrelevant observations

Remove unwanted observations from your dataset, including duplicate observations or irrelevant observations. Duplicate observations will happen most often during data collection.

Step 2: Fix structural errors

Structural errors are when you measure or transfer data and notice strange naming conventions, typos, or incorrect capitalization. These inconsistencies can cause mislabeled categories or classes. For example, you may find “N/A” and “Not Applicable” both appear, but they should be analyzed as the same category.

Step 3: Filter unwanted outliers

Often, there will be one-off observations where, at a glance, they do not appear to fit within the data you are analyzing. If you have a legitimate reason to remove an outlier, like improper data-entry, doing so will help the performance of the data you are working with.

Step 4: Handle missing data

You can’t ignore missing data because many algorithms will not accept missing values. There are a couple of ways to deal with missing data. Neither is optimal, but both can be considered.

As a first option, you can drop observations that have missing values, but doing this will drop or lose information, so be mindful of this before you remove it.
As a second option, you can input missing values based on other observations; again, there is an opportunity to lose integrity of the data because you may be operating from assumptions and not actual observations.
As a third option, you might alter the way the data is used to effectively navigate null values.

Step 5: Validate and QA

At the end of the data cleaning process, you should be able to answer these questions as a part of basic validation:

Does the data make sense?
Does the data follow the appropriate rules for its field?
Does it prove or disprove your working theory, or bring any insight to light?
Can you find trends in the data to help you form your next theory?
If not, is that because of a data quality issue?

In [16]:
# Removing the duplicated data from our data set
df.drop_duplicates(keep=False, inplace=True)

In [17]:
df.duplicated().value_counts()

False    79225
dtype: int64

Here we can see we have succesfully reomove all the duplicate data

In [18]:
# Fill null values with zero
df['company'].fillna(0, inplace= True)
df['agent'].fillna(0, inplace= True)
df['country'].fillna(0, inplace= True)
df['children'].fillna(0, inplace= True)

In [19]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

Here we are successfully remove all the null values with zeros.

In [20]:
df['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

Hotel column contain only two types of hotel Resort hotel and city hotel.

In [21]:
df['is_canceled'].unique()

array([0, 1])

is_canceled contain only true and false i.e 0 and 1

In [22]:
count_of_lead_time = df['lead_time'].unique()
len(count_of_lead_time)

437

There are 437 unique lead time.

In [23]:
df['arrival_date_year'].unique()

array([2015, 2016, 2017])

data set contain data of the year 2015, 2016 and 2017.

In [24]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

arrival date month contain all month data jan to dec.

In [25]:
df['stays_in_weekend_nights'].unique()

array([ 0,  1,  2,  4,  3,  6, 13,  8,  5,  7, 12,  9, 16, 18, 19, 10, 14])

minimum week end nights is 0 and maximum is 14.

In [26]:
df['stays_in_week_nights'].unique()

array([ 0,  1,  2,  3,  4,  5, 10, 11,  8,  6,  7, 15,  9, 12, 33, 20, 14,
       16, 21, 13, 30, 19, 24, 40, 22, 42, 50, 25, 17, 32, 26, 18, 34, 35,
       41])

In [27]:
df['adults'].unique()

array([ 2,  1,  3,  4, 40, 26, 50, 27, 55,  0, 20,  6,  5, 10])

minimum 0 adult and maximum 55 adults stayed .

In [28]:
df['children'].unique()

array([ 0.,  1.,  2., 10.,  3.])

minimum no of children is 0 and maxium 10.

In [29]:
df['babies'].unique()

array([ 0,  1,  2, 10,  9])

minimum no of babies is 0 and maxium is 10.

In [30]:
df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Undefined'], dtype=object)

there are 5 uniques meal one is undefined

In [31]:
count_of_country = df['country'].unique()
len(count_of_country)

176

there are 176 no of unique country.

In [32]:
df['market_segment'].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

7 types of market segment.

In [33]:
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

5 types of distribution channel one is undefined.

In [34]:
df['is_repeated_guest'].unique()

array([0, 1])

is repeated guest is either true or false.

In [35]:
df['previous_cancellations'].unique()

array([ 0,  1,  2,  3, 25,  4,  5, 21,  6, 13, 11])

minimum previous cancellations is 0 and max is 21.

In [36]:
df['previous_bookings_not_canceled'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 19, 26, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72])

In [37]:
len(df['previous_bookings_not_canceled'].unique())

73

73 uniques cacellation values

In [38]:
df['reserved_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'P', 'B'], dtype=object)

In [39]:
len(df['reserved_room_type'].unique())

10

10 unique room type are availabel

In [40]:
df['assigned_room_type'].unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [41]:
df['booking_changes'].unique()

array([ 3,  4,  0,  1,  2,  5, 17,  6,  8,  7, 10, 16,  9, 13, 12, 20, 14,
       15, 11, 21, 18])

In [42]:
df['deposit_type'].unique()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

3 types of depositev values

In [43]:
count_of_agents = df['agent'].unique()
len(count_of_agents)

322

322 uniques types of agent

In [44]:
count_of_company= df['company'].unique()
len(count_of_company)

341

341 uniques company are making the booking.

In [45]:
df['days_in_waiting_list'].unique()

array([  0,  47,  65, 122,  75, 101, 150, 125,  14,  60,  34,  50, 100,
        22, 121,  61,  39,   5,   1,   8, 107,  43,  52,   2,  11, 142,
       116,  13,  44,  97,  83,   4, 113,  18,  20, 185,  93, 109,   6,
        37, 105, 154,  64,  99,  38,  48,  33,  77,  80,  59,  40,  89,
        53,  49,  58,  87,  69, 111,  63, 224,  31, 187, 176, 259, 236,
       207, 215,  30,  32,  27,  24, 108,  15,  96, 178, 330, 223, 193,
        10,  76,  16,  28,  21,   9, 165,  17,  25,  46,   7,  84, 175,
       183,  56,  23,  35, 117,  57,  12,  71,  54,  26,  73,  72,  98,
       147, 174, 162,  81,  68,  92,  74, 167,  36])

In [46]:
df['days_in_waiting_list'].unique().max()

330

max no of waiting is 330

In [47]:
df['customer_type'].unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

4 types of customers.

In [48]:
df['adr'].unique()

array([  0.  ,  75.  , 107.  , ..., 266.75, 209.25, 157.71])

In [49]:
len(df['adr'].unique())

8721

maxmium average daily rate is 8721.

In [50]:
df['required_car_parking_spaces'].unique()

array([0, 1, 2, 8, 3])

minimum 0 parking space and maximum 8 parking space

In [51]:
df['total_of_special_requests'].unique()

array([0, 1, 3, 2, 4, 5])

In [52]:
df['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

3 types of reservation state.

In [53]:
df['reservation_status_date'].unique()

array(['2015-07-01', '2015-07-02', '2015-07-03', '2015-05-06',
       '2015-04-22', '2015-06-23', '2015-07-05', '2015-07-06',
       '2015-07-07', '2015-07-08', '2015-05-11', '2015-07-15',
       '2015-07-16', '2015-05-29', '2015-05-19', '2015-06-19',
       '2015-05-23', '2015-05-18', '2015-07-09', '2015-06-02',
       '2015-07-13', '2015-07-04', '2015-06-29', '2015-06-16',
       '2015-06-18', '2015-06-12', '2015-06-09', '2015-05-26',
       '2015-07-11', '2015-07-12', '2015-07-17', '2015-04-15',
       '2015-05-13', '2015-07-10', '2015-05-20', '2015-05-12',
       '2015-07-14', '2015-06-17', '2015-05-01', '2015-03-30',
       '2015-07-19', '2015-06-03', '2015-06-26', '2015-05-14',
       '2015-07-20', '2015-05-07', '2015-05-28', '2015-04-13',
       '2015-03-25', '2015-07-21', '2015-06-27', '2015-07-18',
       '2015-07-23', '2015-06-08', '2015-06-22', '2015-06-24',
       '2015-03-05', '2015-06-01', '2015-04-24', '2015-07-22',
       '2015-05-27', '2015-04-06', '2015-04-11', '2015-07-25',
       '2015-07-28', '2015-07-29', '2015-06-25', '2015-07-24',
       '2015-06-05', '2015-06-30', '2015-06-13', '2015-06-11',
       '2015-07-30', '2015-07-27', '2015-04-29', '2015-06-04',
       '2015-08-01', '2015-07-26', '2015-08-02', '2015-04-23',
       '2015-07-31', '2015-05-25', '2015-08-03', '2015-04-17',
       '2015-08-04', '2015-08-06', '2015-05-15', '2015-06-15',
       '2015-05-09', '2015-03-17', '2015-05-22', '2015-08-07',
       '2015-04-04', '2015-08-05', '2015-08-08', '2015-08-10',
       '2015-05-04', '2015-06-06', '2015-08-09', '2015-08-15',
       '2015-08-11', '2015-03-28', '2015-08-14', '2015-08-12',
       '2015-08-16', '2015-05-16', '2015-08-21', '2015-08-13',
       '2015-08-17', '2015-08-18', '2015-08-23', '2015-08-19',
       '2015-08-20', '2015-08-22', '2015-08-29', '2015-03-31',
       '2015-05-30', '2015-08-25', '2015-04-14', '2015-08-24',
       '2015-03-24', '2015-05-21', '2015-08-28', '2015-08-26',
       '2015-08-27', '2015-08-30', '2015-08-31', '2015-09-06',
       '2015-09-03', '2015-09-04', '2015-09-02', '2015-09-01',
       '2015-09-05', '2015-06-20', '2015-04-20', '2015-09-07',
       '2015-09-10', '2015-09-11', '2015-09-08', '2015-09-09',
       '2015-09-13', '2015-09-15', '2015-04-10', '2015-01-02',
       '2014-11-18', '2015-09-12', '2015-09-17', '2015-09-14',
       '2015-04-07', '2015-09-19', '2015-09-16', '2015-09-20',
       '2015-01-18', '2015-10-23', '2015-01-22', '2015-01-01',
       '2015-09-22', '2015-09-24', '2015-09-18', '2015-09-21',
       '2015-09-30', '2015-09-25', '2015-09-27', '2015-09-28',
       '2015-10-12', '2015-09-29', '2015-09-23', '2015-10-01',
       '2015-09-26', '2015-10-02', '2015-10-04', '2015-10-08',
       '2015-10-03', '2015-10-07', '2015-10-09', '2015-10-11',
       '2015-10-05', '2015-10-06', '2015-10-10', '2015-10-14',
       '2015-10-15', '2015-10-18', '2015-10-13', '2015-10-20',
       '2015-10-19', '2015-10-31', '2015-10-16', '2015-10-21',
       '2015-10-22', '2015-10-17', '2015-10-24', '2015-10-25',
       '2015-10-28', '2015-10-27', '2015-10-26', '2015-10-30',
       '2015-11-05', '2015-10-29', '2015-11-03', '2015-11-07',
       '2015-11-04', '2015-11-01', '2015-11-02', '2015-11-06',
       '2015-11-10', '2015-11-08', '2015-11-09', '2015-11-15',
       '2015-11-16', '2015-11-11', '2015-11-17', '2015-11-12',
       '2015-11-14', '2015-11-13', '2015-11-18', '2015-11-22',
       '2015-11-19', '2015-11-21', '2015-11-20', '2015-11-24',
       '2015-11-25', '2015-11-23', '2015-11-28', '2015-11-26',
       '2015-11-27', '2015-11-29', '2015-12-04', '2015-12-01',
       '2015-12-06', '2015-12-08', '2015-12-02', '2015-12-03',
       '2015-12-31', '2015-12-05', '2015-12-10', '2015-12-17',
       '2015-11-30', '2015-12-12', '2015-12-07', '2016-01-05',
       '2015-12-11', '2015-12-15', '2015-12-16', '2015-12-19',
       '2015-12-18', '2015-12-26', '2015-12-27', '2015-12-22',
       '2015-12-23', '2015-12-24', '2015-12-29', '2015-12-28',
       '2015-12-20', '2015-12-30', '2016-01-02', '2016-01-01',
       '2015-12-25', '2016-01-03', '2016-01-04', '2016-01-11',
       '2016-01-07', '2016-01-09', '2016-01-10', '2016-01-08',
       '2016-01-06', '2016-01-12', '2016-01-13', '2016-01-23',
       '2016-02-09', '2016-01-15', '2016-01-16', '2016-01-17',
       '2016-01-19', '2016-01-18', '2016-01-21', '2016-01-24',
       '2016-01-22', '2016-01-29', '2016-01-27', '2016-01-25',
       '2016-03-08', '2016-01-26', '2016-01-30', '2016-02-08',
       '2016-02-07', '2016-01-20', '2016-01-28', '2016-02-05',
       '2016-02-03', '2016-02-13', '2016-02-10', '2016-02-02',
       '2016-02-04', '2016-02-12', '2016-02-11', '2016-02-16',
       '2016-02-14', '2016-02-15', '2016-02-01', '2016-02-20',
       '2016-02-06', '2016-01-14', '2016-02-17', '2016-02-21',
       '2016-02-24', '2016-02-25', '2016-02-19', '2016-02-18',
       '2016-02-26', '2016-02-23', '2016-02-22', '2016-02-27',
       '2016-03-03', '2016-03-24', '2016-03-04', '2016-03-01',
       '2016-03-02', '2016-03-30', '2016-03-05', '2016-03-07',
       '2016-03-14', '2016-03-21', '2016-03-09', '2016-02-29',
       '2016-03-12', '2016-03-22', '2016-03-11', '2016-03-20',
       '2016-03-15', '2016-03-17', '2016-03-16', '2016-03-19',
       '2016-03-27', '2016-03-18', '2016-03-26', '2016-03-31',
       '2016-03-28', '2016-03-29', '2016-04-01', '2016-03-10',
       '2016-03-23', '2016-04-02', '2016-03-25', '2016-03-13',
       '2016-04-04', '2016-04-03', '2016-04-05', '2016-04-08',
       '2016-04-06', '2016-04-09', '2016-04-12', '2016-04-16',
       '2016-04-17', '2016-04-27', '2016-04-14', '2016-04-18',
       '2016-04-21', '2016-04-19', '2016-04-20', '2016-04-10',
       '2016-04-13', '2016-04-11', '2016-04-07', '2016-04-15',
       '2016-04-22', '2016-04-23', '2016-04-26', '2016-04-24',
       '2016-04-28', '2016-04-25', '2016-04-29', '2016-04-30',
       '2016-05-01', '2016-05-10', '2016-05-02', '2016-05-07',
       '2016-05-08', '2016-05-12', '2016-05-04', '2016-05-06',
       '2016-05-03', '2016-05-09', '2016-05-05', '2016-05-13',
       '2016-05-14', '2016-05-18', '2016-05-19', '2016-05-15',
       '2016-05-11', '2016-05-21', '2016-05-16', '2016-05-20',
       '2016-05-24', '2016-05-22', '2016-05-25', '2016-05-26',
       '2016-05-23', '2016-05-27', '2016-05-17', '2016-05-29',
       '2016-05-28', '2016-05-30', '2016-05-31', '2016-06-01',
       '2016-06-03', '2016-06-08', '2016-06-02', '2016-06-05',
       '2016-06-06', '2016-06-13', '2016-06-07', '2016-06-11',
       '2016-06-10', '2016-06-16', '2016-06-12', '2016-06-14',
       '2016-06-17', '2016-06-04', '2016-06-18', '2016-06-21',
       '2016-06-09', '2016-06-24', '2016-06-20', '2016-06-25',
       '2016-06-22', '2016-06-26', '2016-06-23', '2016-07-01',
       '2016-06-15', '2016-06-28', '2016-07-02', '2016-06-19',
       '2016-06-27', '2016-07-04', '2016-06-30', '2016-07-05',
       '2016-07-08', '2016-07-09', '2016-07-07', '2016-07-12',
       '2016-06-29', '2016-07-10', '2016-07-15', '2016-07-03',
       '2016-07-16', '2016-07-14', '2016-07-18', '2016-07-13',
       '2016-07-06', '2016-07-20', '2016-07-21', '2016-07-23',
       '2016-07-19', '2016-07-11', '2016-07-28', '2016-07-17',
       '2016-07-25', '2016-07-22', '2016-07-29', '2016-08-03',
       '2016-08-02', '2016-08-04', '2016-08-10', '2016-08-01',
       '2016-08-06', '2016-08-05', '2016-08-08', '2016-07-26',
       '2016-08-07', '2016-07-30', '2016-07-24', '2016-08-12',
       '2016-07-27', '2016-08-13', '2016-08-18', '2016-08-16',
       '2016-08-15', '2016-08-17', '2016-08-11', '2016-07-31',
       '2016-08-19', '2016-09-01', '2016-08-23', '2016-08-26',
       '2016-08-20', '2016-08-21', '2016-09-04', '2016-08-22',
       '2016-08-27', '2016-08-25', '2016-08-09', '2016-09-05',
       '2016-08-24', '2016-09-10', '2016-08-29', '2016-09-09',
       '2016-08-30', '2016-09-13', '2016-08-31', '2016-09-14',
       '2016-09-12', '2016-09-15', '2016-08-14', '2016-09-02',
       '2016-09-08', '2016-03-06', '2016-09-19', '2016-09-16',
       '2016-09-07', '2016-09-21', '2016-09-06', '2016-09-22',
       '2016-09-17', '2016-09-20', '2016-09-03', '2016-09-26',
       '2016-09-23', '2016-09-18', '2016-09-29', '2016-10-02',
       '2016-10-01', '2016-09-27', '2016-09-25', '2016-10-05',
       '2016-09-11', '2016-09-30', '2016-10-09', '2016-10-03',
       '2016-10-06', '2016-09-24', '2016-10-13', '2016-10-08',
       '2016-09-28', '2016-10-07', '2016-10-16', '2016-08-28',
       '2016-10-17', '2016-10-18', '2016-10-10', '2016-10-04',
       '2016-10-11', '2016-10-15', '2016-10-19', '2016-10-21',
       '2016-10-12', '2016-10-24', '2016-10-26', '2016-10-23',
       '2016-10-20', '2016-10-25', '2016-10-27', '2016-10-30',
       '2016-10-28', '2016-10-29', '2016-11-01', '2016-11-04',
       '2016-10-14', '2016-11-07', '2016-11-03', '2016-11-10',
       '2016-11-14', '2016-11-02', '2016-10-31', '2016-11-11',
       '2016-11-08', '2016-11-05', '2016-11-25', '2016-11-09',
       '2016-11-20', '2016-11-21', '2016-10-22', '2016-11-22',
       '2016-11-16', '2016-11-23', '2016-11-17', '2016-11-06',
       '2016-11-15', '2016-11-13', '2016-11-12', '2016-11-27',
       '2016-11-19', '2016-11-30', '2016-11-18', '2016-12-02',
       '2016-12-04', '2016-12-07', '2016-11-28', '2016-12-03',
       '2016-12-06', '2016-11-24', '2016-12-08', '2016-12-05',
       '2016-12-10', '2016-12-13', '2016-12-14', '2016-12-16',
       '2016-12-15', '2016-12-17', '2016-12-19', '2016-12-21',
       '2016-12-20', '2016-12-22', '2016-12-23', '2016-12-24',
       '2016-12-01', '2016-12-27', '2016-12-29', '2016-12-30',
       '2016-12-12', '2017-01-02', '2016-12-11', '2017-01-03',
       '2017-01-04', '2017-01-01', '2017-01-06', '2016-12-28',
       '2016-12-26', '2016-12-18', '2017-01-10', '2017-01-11',
       '2017-01-07', '2017-01-12', '2017-01-16', '2017-01-14',
       '2017-01-13', '2017-01-17', '2017-01-05', '2017-01-20',
       '2016-12-09', '2017-01-26', '2016-12-31', '2017-01-23',
       '2017-01-27', '2017-01-28', '2017-01-19', '2017-01-25',
       '2017-01-24', '2017-01-29', '2017-01-18', '2016-12-25',
       '2017-01-15', '2017-01-21', '2017-02-01', '2017-02-02',
       '2017-01-31', '2017-02-03', '2017-02-04', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-01-30', '2017-02-09',
       '2017-01-09', '2017-02-11', '2017-02-12', '2017-02-13',
       '2017-02-14', '2017-02-10', '2017-02-16', '2017-02-17',
       '2017-02-18', '2017-02-19', '2017-02-20', '2017-02-15',
       '2017-02-21', '2017-02-22', '2017-02-26', '2017-02-23',
       '2017-02-24', '2017-02-25', '2017-02-28', '2017-03-05',
       '2017-02-27', '2017-03-03', '2017-03-06', '2017-03-02',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-07',
       '2017-03-12', '2017-03-13', '2017-03-14', '2017-03-01',
       '2016-11-29', '2017-03-17', '2017-03-18', '2017-03-24',
       '2017-03-22', '2017-03-26', '2017-03-27', '2017-03-11',
       '2017-03-28', '2017-03-29', '2017-03-30', '2017-03-31',
       '2017-03-19', '2017-01-22', '2017-04-02', '2017-03-20',
       '2017-01-08', '2017-04-03', '2017-04-05', '2017-02-05',
       '2017-04-04', '2017-03-15', '2017-04-07', '2017-03-25',
       '2017-04-08', '2017-04-06', '2017-03-21', '2017-03-23',
       '2017-04-10', '2017-04-01', '2017-04-11', '2017-04-13',
       '2017-04-15', '2017-04-12', '2017-03-04', '2017-04-19',
       '2017-04-20', '2017-05-02', '2017-04-09', '2017-04-23',
       '2017-04-22', '2017-04-24', '2017-04-16', '2017-04-28',
       '2017-04-18', '2017-04-26', '2017-04-25', '2017-04-17',
       '2017-04-21', '2017-05-03', '2017-05-04', '2017-03-16',
       '2017-05-05', '2017-04-29', '2017-04-14', '2017-04-27',
       '2017-05-08', '2017-05-11', '2017-05-01', '2017-05-10',
       '2017-05-13', '2017-05-06', '2017-05-14', '2017-05-16',
       '2017-04-30', '2017-05-15', '2017-05-07', '2017-05-09',
       '2017-05-21', '2017-05-17', '2017-05-12', '2017-05-22',
       '2017-05-24', '2017-05-23', '2017-05-25', '2017-05-26',
       '2017-05-28', '2017-05-27', '2017-05-29', '2017-05-19',
       '2017-05-20', '2017-06-01', '2017-05-30', '2017-06-02',
       '2016-11-26', '2017-06-04', '2017-06-05', '2017-05-31',
       '2017-06-06', '2017-06-07', '2017-05-18', '2017-06-09',
       '2017-06-10', '2017-06-11', '2017-06-12', '2017-06-14',
       '2017-06-08', '2017-06-16', '2017-06-13', '2017-06-03',
       '2017-06-24', '2017-06-20', '2017-06-19', '2017-06-21',
       '2017-06-26', '2017-06-27', '2017-06-22', '2017-06-28',
       '2017-06-15', '2017-06-29', '2017-06-30', '2017-06-18',
       '2017-07-08', '2017-07-05', '2017-07-03', '2017-07-07',
       '2017-07-01', '2017-07-06', '2017-07-11', '2017-07-12',
       '2017-06-23', '2017-07-13', '2017-07-02', '2017-07-10',
       '2017-07-14', '2017-07-15', '2017-07-16', '2017-07-04',
       '2017-07-18', '2017-07-17', '2017-07-19', '2017-07-21',
       '2017-06-25', '2017-07-24', '2017-07-20', '2017-07-26',
       '2017-07-27', '2017-07-28', '2017-07-09', '2017-07-31',
       '2017-07-29', '2017-07-22', '2017-08-02', '2017-08-01',
       '2017-08-03', '2017-08-04', '2017-07-25', '2017-07-23',
       '2017-08-09', '2017-08-10', '2017-07-30', '2017-08-07',
       '2017-08-13', '2017-08-05', '2017-08-14', '2017-08-08',
       '2017-06-17', '2017-08-17', '2017-08-18', '2017-08-20',
       '2017-08-22', '2017-08-06', '2017-08-25', '2017-08-26',
       '2017-08-23', '2017-08-15', '2017-08-16', '2017-08-11',
       '2017-08-27', '2017-08-21', '2017-08-29', '2017-08-31',
       '2017-08-12', '2017-08-19', '2016-01-31', '2017-09-01',
       '2017-08-28', '2015-04-03', '2015-01-21', '2015-01-28',
       '2015-01-29', '2015-01-30', '2015-02-05', '2015-02-06',
       '2015-02-09', '2015-02-10', '2015-02-11', '2015-02-12',
       '2015-02-19', '2015-02-20', '2015-02-23', '2015-02-24',
       '2015-02-25', '2015-02-26', '2015-02-27', '2015-03-03',
       '2015-03-04', '2015-03-06', '2015-03-09', '2015-03-11',
       '2015-03-12', '2015-03-18', '2015-04-02', '2015-06-14',
       '2015-04-08', '2015-04-16', '2015-04-25', '2015-04-28',
       '2017-09-06', '2016-02-28', '2015-12-09', '2015-12-13',
       '2015-12-14', '2015-12-21', '2017-09-09', '2017-09-02',
       '2017-08-24', '2017-08-30', '2017-09-03', '2017-09-04',
       '2017-09-05', '2017-09-07', '2017-09-08', '2017-09-10',
       '2017-09-12', '2017-09-14', '2015-04-30', '2015-04-21',
       '2015-04-05', '2015-03-13', '2015-05-08', '2015-05-05',
       '2015-03-29', '2015-06-10', '2015-04-27', '2014-10-17',
       '2015-03-10', '2015-03-23'], dtype=object)

In [54]:
len(df['reservation_status_date'].unique())

922

922 days of booking data is availabel in 3 years.

After going through each column of data set now we can say there is not any structural errors

### Exploratory Analysis and Visulations

In [55]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

### Summary and Conclusion